<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about_style.css">
    
    <title>Document</title>
</head>
<body>
    <div class="front" style="color: whitesmoke;">
    <div class="nav">
        <div class="title">
            <h1>Tastee!</h1>
        </div>
        <div class="sections">
            <form id="myform" action="/slide" method="post">
                <input type="hidden" id="actionInput" name="action" value="">
                <ul>
                  
                    <li onclick="document.getElementById('actionInput').value='Home'; document.getElementById('myform').submit();">Home</li>
                    <li onclick="document.getElementById('actionInput').value='About'; document.getElementById('myform').submit();">About us</li>
                    <li onclick="document.getElementById('actionInput').value='Blog'; document.getElementById('myform').submit();">Blog</li>
                    <li onclick="document.getElementById('actionInput').value='Contact'; document.getElementById('myform').submit();">Contact us</li>
                    <button class="signup">Sign up</button>
                </ul>
            </form>
        </div>
    </div>
    <div class="content">
        <div class="text">
            
            <h1 style="margin-bottom: 40px;line-height: 60px;">We deliver <br> for you to <span style="color:  #F72D57;">enjoy</span></h1>
            <p >We deliver the food of your choice wherever, whenever. Select your food from only the top restaurants in the area, and get it in a flash. Download the app now to discover more</p>
        </div>
        <div class="content_img">
            <img style="height: 80%; padding-left: 20%; background-image: none;" src="c59738b6-52a9-4f55-87c1-c6cc52ba2606-removebg-preview.png" alt="food_img">
        </div>
    </div>
</div>

<div class="second">
    <h2>Get to know<span style="color:  #F72D57;"> us</span></h2>
    <div class="second_con1">
        <img src="unsplash_Oalh2MojUuk.png" style="height: 100%;" alt="">
        <div class="subcon">
            <h3 style="line-height: 32px;"><span style="color:  #F72D57;">Teamwork</span> is the key to <br> our sucess</h3>
            <br>
            <p  style="line-height: 20px;">At TasteNow we make sure that every decision is determined by a <br> team of us. Everyone´s opinion matters, and as group, we are stronger. <br> We firmly belive that team work, makes the dream work.</p>
        </div>
    </div>
    <div class="second_con1">
        <div class="subcon">
            <h3 style="line-height: 32px;">We are all in for the <br><span style="color:  #F72D57;">enviroment</span></h3>
            <br>
            <p  style="line-height: 20px;">TasteNow donates $1 penny for every purchase made from the app to <br> an organization that takes care of our enviromet. We belive that with <br> everyone´s help, we can make a better world. </p>
        </div>
        <img src="unsplash_KdeqA3aTnBY.png" style="height: 100%;margin-right: 6%; " alt="">
    </div>
</div>

<div class="third">
    <img class="third_img" style="height: 60%; border-radius: 3%;" src="unsplash_uwpo02K55zw.png" alt="">
    <div class="content_third" style="background-color: #F72D57;">
      <h2 style="background-color: #F72D57;    margin-bottom: 23px;
      line-height: 36px;">Our employees define who <br> we are</h2>
      <div class="subcon_third" style="background-color: #F72D57;">
        <p style="background-color: #F72D57;line-height: 30px;">We are proud to have a team of professionals leading our every- <br>day activities and tasks. Collaborative culture of inclusion,<br> growth, and originality are only a few of our beliefs. Join us now,<br> and take your career to the next step.</p>
      </div>
    </div>
  </div>

<div class="fourth_page">
    <h2 style="color: #F72D57;text-align: center;"> What Our Happy Customers Are Saying</h2>
<div class="four">
   <div class="card">
    <img src="https://wac-cdn.atlassian.com/dam/jcr:ba03a215-2f45-40f5-8540-b2015223c918/Max-R_Headshot%20(1).jpg?cdnVersion=2314" style="border-radius: 50%;" alt="">
    <h4 style="color: #F72D57;">Evan Olsen</h4>
    <div class="con_four" style=" color: #F72D57;padding: 2%;line-height: 19px;line-break: anywhere;">"Fantastic delivery service! The food arrived hot and fresh, exactly as described. The flavors were spot-on, and the portions were generous. Quick delivery and easy online ordering. I’ll definitely be ordering again!"</div>
    <div class="star" style="color: #F72D57;">⭐️⭐️⭐️⭐️⭐️</div>
   </div>
   <div class="card">
    <img src="https://avatars.sched.co/8/90/1938608/avatar.jpg.320x320px.jpg?e62" style="border-radius: 50%;" alt="">
    <h4 style="color: #F72D57;">Alice Tate</h4>
    <div class="con_four" style="  color: #F72D57;padding: 2%;line-height: 19px;line-break: anywhere;">"Loved the food! Delivery was on time, and everything was packed neatly. The quality and taste were just like dining in. Great value for money and super convenient. Highly recommend if you're craving delicious meals at home!"</div>
    <div class="star" style="color: #F72D57;">⭐️⭐️⭐️⭐️⭐️</div>
   </div>
   <div class="card">
    <img src="https://avatars.sched.co/f/09/5492836/avatar.jpg?583" style="border-radius: 50%;" alt="">
    <h4 style="color: #F72D57;">Lee Phillips</h4>
    <div class="con_four" style=" color: #F72D57;padding: 2%;line-height: 19px;line-break: anywhere;">"Impressed with the prompt delivery and amazing food! The meals were flavorful and arrived perfectly hot. The variety on the menu is awesome, and the ordering process was seamless. Will be using this service regularly for sure!"</div>
    <div class="star" style="color: #F72D57;">⭐️⭐️⭐️⭐️⭐️</div>
   </div>
  </div>
</div>

  
<div class="footer">
  <div class="f_title">
      <h1>Tastee!</h1>
  </div>
  <div class="footer_sections">
      <ul>
          <li>Privacy policy</li>
          <li>Blog</li>
          <li>Help</li>
          <li>Terms of service</li>
          <li>About us</li>
          <li>Contact us</li>         
          
      </ul>
  </div>
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</html>